<div class="inner">
  <div class="inner-content">
    <div class="main-container">
      <div class="content-nav">
        <div
          class="content-nav-btn"
          (mouseenter)="onMouseEnter('undo')"
          (mouseleave)="onMouseLeave('undo')"
          (click)="onBackward()"
        >
          <ng-template
            [ngIf]="showFilledUndoIcon"
            [ngIfElse]="showStrokeUndoIcon"
          >
            <tf-icon-svg [iconName]="'UNDO_ICON_FILL'"></tf-icon-svg>
          </ng-template>

          <ng-template #showStrokeUndoIcon>
            <tf-icon-svg [iconName]="'UNDO_ICON_STROKE'"></tf-icon-svg>
          </ng-template>
        </div>
        <div
          class="content-nav-btn"
          (mouseenter)="onMouseEnter('redo')"
          (mouseleave)="onMouseLeave('redo')"
          (click)="onForward()"
        >
          <ng-template
            [ngIf]="showFilledRedoIcon"
            [ngIfElse]="showStrokeRedoIcon"
          >
            <tf-icon-svg [iconName]="'REDO_ICON_FILL'"></tf-icon-svg>
          </ng-template>

          <ng-template #showStrokeRedoIcon>
            <tf-icon-svg [iconName]="'REDO_ICON_STROKE'"></tf-icon-svg>
          </ng-template>
        </div>
      </div>

      <tf-timesheet-weekly
        [timesheetlist]="timesheetlist"
        [setCurrentDate]="currentDate"
        (setSelectedDate)="setSelectedDate($event)"
      ></tf-timesheet-weekly>
    </div>
  </div>
</div>
