.inner {
  height: 3rem;
  background-color: #6e1c6b;
  box-shadow: 0 1px 1px 0 rgba(80, 104, 140, 0.1);

  &-content {
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-nav {
      display: flex;
      align-items: center;
      gap: 5px;
      height: 100%;
    }

    &-btn,
    &-btn-profile,
    &-btn-home {
      border: 0px solid black;
      height: 100%;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #6e1c6b;
      cursor: pointer;
    }

    &-btn {
      width: 100px;
      letter-spacing: 0.15em;
      font-weight: 700;
      font-size: 0.7em;
      text-transform: uppercase;
      color: #fafafa;

      &-underline {
        position: relative;
      }

      &-underline::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background-color: #6e1c6b;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      }

      @media (hover: hover) and (pointer: fine) {
        &-underline:hover::before {
          left: 0;
          right: auto;
          width: 100%;
          background-color: #fafafa;
        }
      }
    }

    &-btn-profile {
      justify-self: end;
    }

    // &-btn:hover {
    //   background-color: #6e1c6b;
    //   color: #fafafa;
    // }
  }
}
