<tf-loading *ngIf="showSpinner"></tf-loading>
<div class="inner">
  <div>
    <tf-icon-svg
      [iconName]="'SQUARE_PLUS_ICON_FILL'"
      class="btn"
      (click)="onCallModal()"
    ></tf-icon-svg>
  </div>
  <div class="inner-content">
    <hr class="mt-0" />
    <div class="inner-content-row">
      <div class="inner-content-col-lg">
        <div class="text-wrap">
          <b>[2015] SOW3: Digital Consultancy [Requires SOW]</b> (Sussex
          Community NHS Foundation Trust)
        </div>
        <div><em>4:00 hrs, Billable (Hourly rate: 25 £, Total: 100 £)</em></div>
      </div>
      <div class="inner-content-col-sm tools">
        <tf-icon-svg
          [iconName]="'EDIT_ICON_STROKE'"
          class="btn btn-tools"
          (click)="onCallModal()"
        ></tf-icon-svg>
      </div>
    </div>
    <hr />
  </div>
</div>
