input {
  cursor: pointer;
  padding-left: 10px;
  font-style: italic;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input.size-lg {
  width: 93%;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input::placeholder {
  font-style: italic;
  opacity: 0.8;
}

.dropdown-parent-item {
  font-weight: 500;
}

.dropdown-simple-item {
  cursor: pointer;
  font-weight: initial !important;
}

.dropdown-parent-item:hover:not(.dropdown-simple-item),
.dropdown-parent-item:focus:not(.dropdown-simple-item) {
  background-color: white !important;
}
.dropdown-parent-item:active:not(.dropdown-simple-item) {
  color: #212529 !important;
}

.dropdown-child-item {
  cursor: pointer;
  padding-left: 55px;
  font-size: 15px;
}

.dropdown-item {
  &_selected {
    color: white !important;
    background-color: #6e1c6b !important;
  }
  &_header {
    display: flex;
    gap: 7px;
    &_icon {
      padding: 5px 0 5px 0;
    }
  }
}

.dropdown-parent-item-notFound,
.dropdown-item-notFound {
  padding-left: 40px;
  font-style: italic;
  font-weight: initial;
  color: #999;
  &_header {
    display: flex;
    gap: 7px;
    &_icon {
      padding: 5px 0 5px 0;
    }
  }
}

.dropdown-parent-item-notFound {
  padding-left: 15px;
}

.dropdown-item.active,
.dropdown-item:active {
  color: white !important;
  text-decoration: none;
  background-color: #6e1c6b !important;
}

tf-icon-svg {
  height: 1rem;
  width: 1rem;
}

.dropdown-menu {
  width: 93%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-group {
  width: 100%;
}

button {
  border: 1px solid rgba(80, 104, 140, 0.1);
  width: 7%;
}
