<div class="btn-group" #dropdown="bs-dropdown" dropdown style="width: 100%">
  <input
    type="text"
    placeholder="Project / Task"
    style="
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      width: 93%;
      border: 1px solid rgba(80, 104, 140, 0.1);
    "
    [ngModel]="title"
    (ngModelChange)="onModelChange($event, dropdown)"
    (click)="onShowMenuItems(dropdown)"
  />
  <button
    id="button-split"
    type="button"
    dropdownToggle
    class="btn dropdown-toggle dropdown-toggle-split"
    aria-controls="dropdown-split"
    style="border: 1px solid rgba(80, 104, 140, 0.1); width: 7%"
    #btn
  ></button>
  <ul
    id="dropdown-split"
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-split"
    style="width: 93%"
  >
    <ng-template ngFor let-parent [ngForOf]="_dataSource" let-i="index">
      <li class="dropdown-item dropdown-parent-item">
        <i class="tags icon"></i>
        <div>
          {{ parent.Title }}
        </div>
      </li>
      <ng-template ngFor let-child [ngForOf]="parent.Collection" let-i="index">
        <li
          role="menuitem"
          class="dropdown-item dropdown-child-item"
          [ngClass]="{ 'dropdown-item_selected': child.Title === title }"
          (click)="onSelectOption(dropdown, child.Id, child.ParentId)"
        >
          <div>
            {{ child.Title }}
          </div>
        </li>
      </ng-template>
      <ng-template [ngIf]="parent.Collection?.length === 0">
        <li class="dropdown-item-notFound">No results found</li>
      </ng-template>
      <div class="dropdown-divider" *ngIf="_dataSource.length > 1"></div>
    </ng-template>
    <ng-template [ngIf]="_dataSource!.length === 0">
      <li class="dropdown-item-notFound">No results found</li>
    </ng-template>
  </ul>
</div>
