<div class="btn-group" dropdown style="width: 100%">
  <input
    type="text"
    placeholder="Project / Task"
    readonly
    style="
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      width: 93%;
      border: 1px solid rgba(80, 104, 140, 0.1);
    "
  />
  <button
    id="button-split"
    type="button"
    dropdownToggle
    class="btn dropdown-toggle dropdown-toggle-split"
    aria-controls="dropdown-split"
    style="border: 1px solid rgba(80, 104, 140, 0.1); width: 7%"
  ></button>
  <ul
    id="dropdown-split"
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-split"
    style="width: 93%"
  >
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Another action</a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Something else here</a>
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div>
