<div class="modal-header">
  <h5 class="modal-title pull-left">New time entry for Saturday, 23 Sep</h5>
</div>
<div class="modal-body">
  <div>
    <tf-select
      [readonly]="false"
      [placeholder]="'Project / Task'"
      [dataSource]="dataSource"
      (onSelectItem)="onSelectProject($event)"
    ></tf-select>
  </div>
  <div>
    <tf-select
      [readonly]="true"
      [placeholder]="'Service type'"
      [dataSource]="ServiceTypes"
      [value]="{ id: 1 }"
      (onSelectItem)="onSelectServiceType($event)"
    ></tf-select>
  </div>
  <div class="tools">
    <tf-label
      [title]="'Working hours'"
      [hint]="'(Time spent at work)'"
      [hintSize]="'12px'"
      [hintColor]="'#999'"
    />
    <input type="text" class="hours text-end size-sm" />
  </div>
  <div>
    <tf-label [title]="'Notes'" />
    <textarea rows="5" class="size-lg"></textarea>
  </div>
</div>
<div class="modal-footer">
  <tf-button-half-fuller
    [title]="'cancel'"
    (click)="closeModal()"
  ></tf-button-half-fuller>
  <div>
    <tf-button-half-fuller
      [title]="'delete'"
      (click)="closeModal()"
    ></tf-button-half-fuller>
    <tf-button-half-fuller
      [title]="'update'"
      (click)="closeModal()"
    ></tf-button-half-fuller>
  </div>
</div>
