/* You can add global styles to this file, and also import other style files */
body {
  margin: initial;
  font-family: Georgia, serif;
  color: #1c6b6e;
  background-color: #eff2f8;
}

.inner {
  display: flex;
  justify-content: center;

  &-content {
    width: 50vw;
  }

  @media (max-width: 1440px) {
    &-content {
      width: 75vw;
    }
  }
}

.container {
  margin: 20px 10px 0 10px;
}

.self-end {
  justify-self: self-end;
}
