/* You can add global styles to this file, and also import other style files */

body {
  margin: initial;
  color: #1c6b6e;
  //background-color: #eff2f8 !important;
  line-height: 1.5;
}

.inner {
  display: flex;
  justify-content: center;

  &-content {
    width: calc(100% / 2);
  }

  @media (max-width: 1440px) {
    &-content {
      width: calc(100% / 1.25);
    }
  }
}

.main-container {
  margin: 20px 10px 0 10px;
}

.text-end {
  text-align: end;
}

.tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text-wrap {
  overflow-wrap: break-word;
}

tf-icon-svg {
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
}

.ngx-toastr {
  width: 400px !important; // Specify toastr-dialog width for all devices
}

input {
  border-radius: 5px;
  background-color: #fafafa;
  border: 1px solid rgba(80, 104, 140, 0.1);
}

input.size-sm {
  width: 15%;
}

textarea.size-lg,
input.size-lg {
  width: 100%;
}

textarea {
  border-radius: 5px;
  background-color: #fafafa;
  border: 1px solid rgba(80, 104, 140, 0.1);
}

input:focus,
textarea:focus {
  outline: none !important;
}
