/* You can add global styles to this file, and also import other style files */

body {
  margin: initial;
  color: #1c6b6e;
  //background-color: #eff2f8 !important;
  line-height: 1.5;
}

.inner {
  display: flex;
  justify-content: center;

  &-content {
    width: calc(100% / 2);
  }

  @media (max-width: 1440px) {
    &-content {
      width: calc(100% / 1.25);
    }
  }
}

.main-container {
  margin: 20px 10px 0 10px;
}

.text-aling-end {
  text-align: end;
}

.tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text-wrap {
  overflow-wrap: break-word;
}

tf-icon-svg {
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
}

.ngx-toastr {
  width: 400px !important; // Specify toastr-dialog width for all devices
}

// /////// Below is not in scss yet. Yet. - work in progress

// .pure-control-group {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -webkit-flex-direction: column;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   position: relative;
//   padding: 0 1em 2.6em 1em;
// }

// .pure-form .pure-control-group label {
//   text-align: left;
//   position: absolute;
//   left: 0;
//   top: 15%;
//   z-index: 0;
//   letter-spacing: 0;
//   margin: 0 1em;
// }

// .pure-form .pure-control-group input {
//   background: none;
//   box-shadow: none;
//   padding-left: 0;
//   border-radius: 0;
//   border: none;
//   border-bottom: 2px solid rgba(255, 255, 255, 0.4);
//   position: relative;
//   z-index: 1;
//   color: #fff;
// }
// .pure-form .pure-control-group input:focus {
//   border-bottom: 2px solid white;
// }

// .pure-form .pure-control-group textarea {
//   background: none;
//   box-shadow: none;
//   border-radius: 0;
//   border: none;
//   border-left: 2px solid rgba(255, 255, 255, 0.4);
//   resize: none;
//   height: 8em;
//   color: #fff;
// }
// .pure-form .pure-control-group textarea:focus {
//   border-left: 2px solid white;
// }

// .pure-form .pure-control-group input[type="email"]:focus:invalid {
//   color: #fff;
// }

// .pure-form .pure-control-group input[type="email"]:invalid {
//   color: #fb5454;
// }

// .pure-form button {
//   margin: 0.5em 1em;
// }
